<footer class="container-fluid bg-dark">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <p class="p-1">
                    <span class="align-middle p-1">Feito com Django</span>
                </p>
            </div>
            <div class="col">
                <p class="p-1 text-right">
                    <span class="align-middle p-1">Por Matheus Teixeira</span>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

