{% extends 'base.html' %}
{% block head %}
    <title>Meu carrinho - Gourmet Avenida</title>
{% endblock head %}


{% block main %}
<div class="row mt-3">
    <div class="col">
        <h2>Carrinho de compras</h2>
        <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
        {% include 'partials/_cart.html' %}
    </div>
</div>
{% if request.session.cart %}
    <div class="row m-auto">    
        <div class="col-10">
            <a class="btn btn-lg btn-block btn-success" href="#">
                Reservar
            </a>
        </div>
        <div class="col-1">
            <form action="{% url 'produto:clear_cart' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-lg btn-block btn-danger" title="Esvaziar carrinho">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
    </div>
{% else %}
    <button class="btn btn-lg btn-block btn-primary">
        <a class="nav-link" href="{% url 'produto:index' %}">Produtos</a>
    </button>
{% endif %}
{% endblock main %}