{% extends 'base.html' %}
{% load static %}
{% load usuario_pipe %}

{% block head %}
    <title>Início | Gourmet Avenida</title>
    <!-- carousel source credit: https://www.codingnepalweb.com/draggable-card-slider-html-css-javascript/ -->
    <link rel="stylesheet" href="{% static 'css/product-carousel.css' %}"></link>
{% endblock head %}

{% block main %}
    {% if perms.usuario.buy_in_term %}
        <header>
            <div class="container">
                <p class="lead fs-4 text-center">
                    Olá, <strong>{{ request.user.first_name }}</strong>, atualmente a sua conta é:<br>
                    <strong class="fs-1">{{ request.user.user_customer.bill|get_bill }}</strong><br>
                    <a class="fs-6 text-secondary nav-link pt-2 d-inline" href="{% url 'usuario:payments' %}">
                        Ver pagamentos
                    </a>
                </p>
            </div>
        </header>
    {% endif %}

    <section>
        <h1>Em Alta</h1>
        {% if week_trends %}
            <p class="lead">Os 10 mais vendidos da semana.</p>
            <div class="trends-wrapper">
                <i id="left" class="arrow fa-solid fa-angle-left"></i>
                <ul class="trends-carousel">
                    {% for unit in week_trends %}
                        <li class="trends-card">
                            <p class="m-2"><span class="fw-bold ">{{ forloop.counter }}°</span> <small class="float-end">{{ unit.total_sold }} vendido(s)</small></p>
                            {% include 'components/product_card.html' %}
                        </li>
                    {% endfor %}
                </ul>
                <i id="right" class="arrow fa-solid fa-angle-right"></i>
            </div>
        {% else %}
            <p class="lead">Nenhum produto vendido na semana.</p>
        {% endif %}
    </section>

    <section>
        <h1>Novo</h1>
        {% if releases %}
            <p class="lead">Lançados no último mês.</p>
            <div class="releases-wrapper">
                <i id="left" class="arrow fa-solid fa-angle-left"></i>
                <ul class="releases-carousel">
                    {% for unit in releases %}
                        <li class="releases-card">
                            {% include 'components/product_card.html' %}
                        </li>
                    {% endfor %}
                </ul>
                <i id="right" class="arrow fa-solid fa-angle-right"></i>
            </div>
        {% else %}
            <p class="lead">Nenhum produto lançado no último mês.</p>
        {% endif %}
    </section>

    {% if perms.pedido.add_order %}
        <section>
            <h1>Aproveitar Novamente</h1>
            {% if again %}
                <p class="lead">Os mais consumidos por você nos últimos 45 dias.</p>
                <div class="again-wrapper">
                    <i id="left" class="arrow fa-solid fa-angle-left"></i>
                    <ul class="again-carousel">
                        {% for unit in again %}
                            <li class="again-card">
                                {% include 'components/product_card.html' %}
                            </li>
                        {% endfor %}
                    </ul>
                    <i id="right" class="arrow fa-solid fa-angle-right"></i>
                </div>
            {% else %}
                <p class="lead">Nenhum produto consumido por você nos últimos 45 dias.</p>
            {% endif %}
        </section>
    {% endif %}

    <div class="position-fixed bottom-0 end-0 m-1" id="toast-container" style="z-index: 11">
    </div>
{% endblock main %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/produto/product-carousel.js' %}"></script>
    {{ json_data|json_script:"json-data" }}
    {% if perms.produto.add_to_cart %}
        <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/produto/index-forms.js' %}"></script>
    {% endif %}
{% endblock scripts %}