{% extends 'base.html' %}
{% load static %}
{% load produto_pipe %}
{% block head %}
    <title>Pagamentos | Gourmet Avenida</title>
{% endblock head %}

{% block main %}
    <div class="row mt-3">
        <div class="col">
            <h2>Pagamentos</h2>
            <div class="accordion mb-2" id="accordion-filter">
                <div class="accordion-item">
                    <h4 class="accordion-header " id="headingFilter">
                        <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-filter" aria-expanded="true" aria-controls="collapseFilter">
                            <i class="fa-solid fa-filter"></i> Filtros
                        </button>
                    </h4>
                    <div id="collapse-filter" class="accordion-collapse collapse" aria-labelledby="headingFilter" data-bs-parent="#accordion-filter">
                        <div class="accordion-body">
                            <form id="filter-form" action="" method="GET">
                                <div class="row">
                                    <div class="col mt-2">
                                        <label for="start-date" class="form-label">De:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control date-input" name="start_date" id="start-date" placeholder="DD/MM/AAAA" value="{{ request.GET.start_date }}">
                                            <button class="btn btn-sm btn-outline-primary" type="button" id="copy-date" title="Mesmo dia">
                                                <i class="fa-solid fa-clone"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col mt-2">
                                        <label for="end-date" class="form-label">Até:</label>
                                        <input type="text" class="form-control date-input" name="end_date" id="end-date" placeholder="DD/MM/AAAA" value="{{ request.GET.end_date }}">
                                    </div>
                                    <div class="col mt-2">
                                        <label for="method" class="form-label">Método</label>
                                        <select name="method" id="method" class="form-select">
                                            <option value="">Todos</option>
                                            <option value="P" {% if request.GET.method == 'P' %}selected{% endif %}>Pix</option>
                                            <option value="M" {% if request.GET.method == 'M' %}selected{% endif %}>Dinheiro</option>
                                            <option value="C" {% if request.GET.method == 'C' %}selected{% endif %}>Cartão</option>
                                        </select>
                                    </div>       
                                </div>
                                <button class="btn btn-primary w-25 mt-3" id="filter-btn" type="submit">Filtrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <section>
                {% if page_obj %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Valor</th>
                                    <th>Data</th>
                                    <th>Método</th>
                                    <th>ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in page_obj %}            
                                    <tr>
                                        <td class="fs-6">
                                            {{ payment.amount|currencyformat }}
                                        </td>
                                        <td class="fs-6">
                                            {{ payment.date_time.date }}
                                        </td>
                                        <td class="fs-6">
                                            {{ payment.get_method_display }}
                                        </td>
                                        <td class="fs-6">
                                            {{ payment.id }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="lead">
                        Nenhum pagamento encontrado.
                    </p>
                {% endif %}
            </section>
            {% if page_obj %}
                {% include 'partials/_pagination.html' %}
            {% endif %}
        </div>       
    </div>
{% endblock main %}

{% block footerscript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
{% endblock footerscript %}
