{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<div class="row">
    <div class="col-lg mt-3">
        <h1>Meu Perfil</h1> 
        {% if not user.phone %}
            <i class="fa-solid fa-circle-exclamation text-warning" title="Completar cadastro"></i>
            <small class="text-danger">Complete o cadastro para poder reservar produtos.</small>
        {% endif %}
        <form method="POST" action="{% url 'usuario:profile' %}">
          {% csrf_token %}
            {% crispy form %}
            {% comment %} <button type="submit" class="btn btn-success">Salvar</button> {% endcomment %}
            <div class="d-block d-md-inline pt-4 mt-4">
                <a href="{% url 'socialaccount_connections' %}" class="text-decoration-none">
                    <button class="btn btn-outline-secondary m-2">
                        Contas Sociais
                    </button>
                </a>
                <a href="#"class="text-decoration-none">
                    <button class="btn btn-outline-primary m-2">
                        Pedidos
                    </button>
                </a>
                <a href="#"class="text-decoration-none">
                    <button class="btn btn-outline-warning m-2">
                        <i class="fa-solid fa-star"></i>
                        Favoritos
                    </button>
                </a>
                <a href="{% url 'account_change_password' %}" class="text-decoration-none">
                    <button class="btn btn-outline-danger m-2">
                        <i class="fa-solid fa-key"></i>
                        Alterar Senha
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}