{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Meu perfil | Gourmet Avenida</title>
{% endblock head %}

{% block main %}
    <div class="row">
        <div class="col-lg mt-3">
            <h1>Meu Perfil</h1> 
            <form method="POST" action="" class="mb-4">
                {% csrf_token %}
                <fieldset>
                    <legend>Usuário</legend>
                    {{ form.email|as_crispy_field }}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.phone|as_crispy_field }}
                </fieldset>
                {% if user.user_customer %}
                    <fieldset>
                        <legend>Cliente</legend>
                        <div class="row">
                            <div class="col-6">{{ form.gender|as_crispy_field }}</div>
                            <div class="col-6">{{ form.born_at|as_crispy_field }}</div>
                        </div>
                    </fieldset>
                {% endif %}
                <button type="submit" class="btn btn-success">Salvar</button>
            </form> 
            <div class="d-block d-md-inline">
                <a href="{% url 'socialaccount_connections' %}" class="text-decoration-none">
                    <button class="btn btn-outline-secondary m-2">
                        Contas Sociais
                    </button>
                </a>
                {% if perms.pedido.self_orders %}
                    <a href="{% url 'pedido:index' %}"class="text-decoration-none">
                        <button class="btn btn-outline-primary m-2">
                            Pedidos
                        </button>
                    </a>
                {% endif %}
                {% if perms.usuario.favorites %}
                    <a href="{% url 'usuario:favorites' %}"class="text-decoration-none">
                        <button class="btn btn-outline-warning m-2">
                            <i class="fa-solid fa-star"></i>
                            Favoritos
                        </button>
                    </a>
                {% endif %}
                <a href="{% url 'account_change_password' %}" class="text-decoration-none">
                    <button class="btn btn-outline-danger m-2">
                        <i class="fa-solid fa-key"></i>
                        Alterar Senha
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
{% endblock scripts %}