{% load produto_pipe %}

<div class="table-responsive" id="cart-table">
    {% if request.session.cart %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Produto</th>        
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>SubTotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for unit in request.session.cart.values %}
                    <tr>
                        <td class="fs-6">
                            <a  href="{% url 'produto:view' unit.category unit.slug %}?uid={{ unit.id }}">
                                {{ unit.name }}
                            </a>  
                        </td>
                    
                        <td class="fs-6">
                            <div class="d-flex">
                                {% if perms.produto.add_to_cart %}
                                    <button class="btn btn-outline-secondary opacity-50 border-0 decrement-cart {% if unit.quantity == 1 %}d-none{% endif %}">
                                        <input type="hidden" name="id" value="{{ unit.id }}">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>          
                                {% endif %}
                                <span class="p-2 quantity">{{ unit.quantity }}</span>
                                {% if perms.produto.add_to_cart %}
                                    <button class="btn btn-outline-secondary opacity-50 border-0 increment-cart" type="button">
                                        <input type="hidden" name="id" value="{{ unit.id }}">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </td>

                        <td class="fs-6 unit-price">
                            R$ {{ unit.price|floatformat:2 }}
                        </td>

                        <td class="fs-6 unit-quantity-price">R$ {{ unit.quantity_price|floatformat:2 }}</td>           
                        <td>
                            <button type="button" class="btn text-danger" title="Remover"
                                data-bs-toggle="modal" data-bs-target="#removeModal" 
                                data-unit-id="{{ unit.id }}" data-unit-name="{{ unit.name }}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

            <div class="col-lg">   
                <tfoot>
                    <tr>
                        <td colspan="5">Total: <strong>R$ {{ request.session.cart|total_price_in_cart|floatformat:2 }}</strong></td>
                    </tr>
                </tfoot>
            </div>
        </table>
    {% else %}
        <p class="lead">Atualmente o seu Carrinho se encontra vazio.</p>
    {% endif %}
</div>

<div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Remover <span class="unit-name"></span>?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
            <p>Tem certeza que deseja remover o produto "<span class="unit-name"></span>" do carrinho?</p>
        </div>
        <div class="modal-footer">
            <form action="" method="POST">
                {% csrf_token %}
                <button type="button" class="btn btn-danger remove-from-cart">
                    Sim
                </button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        </div>
        </div>
    </div>
</div>

