{% extends 'base.html' %}
{% block head %}
    <title>Produtos - Gourmet Avenida</title>
{% endblock head %}

{% block main %}
    {% if not perms.pedido.add_order %}
        <p>
            <i class="fa-solid fa-circle-exclamation text-warning" title="Completar cadastro"></i>
            <small class="text-danger">Entre em contato com o administrador para poder reservar produtos.</small>
        </p>
    {% endif %}
    <section>
        <div class="row">
            {% for unit in units %}
                <div class="col-6 col-sm-4 col-lg-3 mb-4">
                    {% include 'components/product_card.html' %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock main %}