{% extends 'produto/index.html' %}
{% block head %}
    <title>{{ category_selected.name }} - Gourmet Avenida</title>
{% endblock head %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa-solid fa-home"></i></a></li>
      <li class="breadcrumb-item"><a href="{% url 'produto:index' %}">Produtos</a></li>
      <li class="breadcrumb-item active">{{ category_selected.name }}</li>
    </ol>
  </nav>
{% endblock breadcrumb %}