{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>{{ product.name }} - Gourmet Avenida</title>
{% endblock head %}

{% block main %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" title="Início"><a href="{% url 'home' %}" class="text-decoration-none"><i class="fa-solid fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{% url 'produto:index' %}" class="text-decoration-none">Produtos</a></li>
            <li class="breadcrumb-item"><a href="{% url 'produto:index_category' product.category.slug %}" class="text-decoration-none" id="category-link">{{ product.category.name }}</a></li>
            <li class="breadcrumb-item active"><a href="" class="text-decoration-none text-secondary" id="product-link">{{ product.name }}</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg">
            <div class="row no-gutters">
                <div class="col-lg-12">
                    <div id="images-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                        
                        </div>
                        <button class="carousel-control-prev" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </button>
                        <button class="carousel-control-next" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="mt-4 mt-lg-0">
                <h1 id="unit-name"></h1>
                <p class="lead">
                    <span id="unit-price" class="lead product-price fs-3 text-success"></span>                 
                    <span id="unit-promotional" class="lead"></span>         
                </p>
                
                <form action="{% url 'produto:add_to_cart' %}" method="GET" id="form-add-to-cart">
                    <div class="form-group product-select">   

                        <label style="margin-left: 60%" for="qty">
                            <h5>Quantidade:</h5>
                        </label>
                        <select name="qty" class="form-control form-control-lg mb-5" style="width: 40%; margin-left: 60%" id="qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    {% if perms.produto.add_to_cart %}
                        <input type="hidden" id="unit-id" name="id" value="">
                        <div class="text-left">
                            
                                
                                <div class="d-grid gap-4 ">
                                    <button type="submit" class="btn btn-primary w-75">
                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        Adicionar ao carrinho
                                    </button>
                                    <a href="#" title="Adicionar aos favoritos" class="d-inline w-25">
                                        <button type="button" class="btn btn-outline-warning ">
                                            <i class="fa-solid fa-star"></i>
                                        </button>
                                    </a>
                                </div>
                            
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mt-5 mb-5">
                <article>
                    <h2>{{ product.name }}</h2>
                    <p>
                        {{ product.description|linebreaks }}
                    </p>               
                </article>
            </div> 
        </div>
    </div>
{% endblock main %}

{% block footerscript %}
    {{ json_data|json_script:"json-data" }}
    <script src="{% static 'js/view-product.js' %}"></script>
{% endblock footerscript %}
