{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head %}
    <title>Alterar senha - Gourmet Avenida</title>
{% endblock head %}

{% block main %}
    <h1>{% trans "Set Password" %}</h1>
    <p class="lead">
        Você ainda não definiu uma senha para acessar o site. Senhas definidas não são necessárias ao entrar com uma conta social.
    </p>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn btn-primary"/>
    </form>
{% endblock %}
