{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head %}
    <title>Alterar senha - Gourmet Avenida</title>
{% endblock head %}

{% block main %}
    <section>
        {% block header %}
            <h1>Alterar senha</h1>
        {% endblock header %}
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="btn-group w-50">
                <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
                <button class="btn btn-outline-secondary">
                    <a class="button secondaryAction nav-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </button>
            </div>
        </form>
    </section>
{% endblock %}
