{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head %}
  <title>Resetar senha - Gourmet Avenida</title>
{% endblock %}

{% block main %}

    <section>
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="lead">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="btn-group w-50">
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" />
                <button class="btn btn-outline-secondary ml-2">
                    <a class="button secondaryAction nav-link" href="
                        {% if request.user.is_authenticated %}
                            {% url 'usuario:profile' %}
                        {% else %}
                            {% url 'account_login' %}
                        {% endif %}
                    ">Voltar</a>
                </button>
            </div>
        </form>
        <p class="lead pt-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </section>
{% endblock %}
